.header {
  height: 100px;
}
.imageAlbums {
  margin: 5px;
  transition: all 1s;
  max-height: 250px;
  max-width: none;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 0.5rem #1299bb);
  }
}
